POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=chamcong

PORT=3001
API_PUBLIC_URL=http://localhost:3001
FE_PUBLIC_URL=http://localhost:8081

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_STARTTLS=true
SMTP_USER=no-reply@example.com
SMTP_PASS=your-smtp-password
MAIL_FROM=no-reply@example.com
